.product h1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 3px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 40px;
}